<div>
  <div class="row">
    <div class="col-8">
      <br>
    </div>
    <div class="col-2">
      <input type="text" class="form-control" placeholder="Filtro" id="filtro">
    </div>
    <div class="col-1">
      <button (click)="filtrar()" type="button" class="btn btn-light">Filtrar</button>
    </div>
    <div class="col-1">
      <button (click)="onSelected('Z..A')" *ngIf="tipoSort=='A..Z'" type="button" class="btn btn-light">A..Z</button>
      <button (click)="onSelected('A..Z')" *ngIf="tipoSort!='A..Z'" type="button" class="btn btn-light">Z..A</button>
    </div>
  </div>
  <div class="container vertical-scrollable">
    <div class="row">
      <div class="col mb-3" *ngFor="let artista of artistas">
        <div class="card p-2" style="width: 12rem; height: 15rem">
          <a class="text-decoration-none" [routerLink]="['', { outlets: { detalle: ['artistas',artista.id] } } ]">
            <img class="card-img-top" src="{{ artista.imagen }}" alt="{{ artista.nombre }}" />
            <h5 class="card-title">{{ artista.nombre }}</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
