<div class="container-fluid">
  <div class="row">
    <div class="col mb-2" *ngFor="let movimiento of movimientos">
          <div class="card p-2" style="width: 15rem; height: 25rem">
              <img
                class="card-img-top"
                src="{{ movimiento.imagen }}"
                alt="{{ movimiento.nombre }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ movimiento.nombre }}</h5>
                  <p class="card-text">Fecha de Apogeo: {{ movimiento.fechaApogeo }}</p>
                  <p></p>
              </div>
           </div>
      </div>
   </div>
</div>
