<div class="detalle">
  <br>
  <div class="container-fluid centrado">
    <div class="row">
      <div class="col">
        <br>
        <h3 class="centrado" title="nom_obra">{{ obraDetail.nombre }}</h3>
      </div>
      <div class="col">
        <div class="thumb">
          <img class="img-fluid" src="{{ obraDetail.imagen }}" alt="{{ obraDetail.nombre }}" />
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <dt>Fecha Publicación</dt>
        <dd>[{{obraDetail.fechaPublicacion}}]</dd>
      </div>
      <div class="col">
        <dt>Tipo</dt>
        <dd>[{{obraDetail.tipo}}]</dd>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <dt>Descripción</dt>
        <dd>[{{obraDetail.descripcion}}]</dd>
      </div>

    </div>
    <hr>
  </div>

  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <dt>Artista</dt>
        <a
          [routerLink]="['', { outlets: { primary: ['artistas','list'], menusup: ['menusup'], detalle: ['artistas',obraDetail.artista.id] } }]">
          <div class="card p-2" style="width: 6rem; height: 6rem">
            <img class="artista" src="{{obraDetail.artista.imagen}}" alt="">
          </div>
        </a>

      </div>
    </div>

    <div class="col">
      <div class="container-fluid">
        <dt>Movimiento Artistico </dt>
        <a
          [routerLink]="['', { outlets: { primary: ['movimientosartisticos','list'], menusup: ['menusup'], detalle: ['movimientosartisticos',obraDetail.movimiento.id] } }]">
          <dd>[{{obraDetail.movimiento.nombre}}]</dd>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="container-fluid">
        <dt>Museo</dt>

        <a
          [routerLink]="['', { outlets: { primary: ['museos','list'], menusup: ['menusup'], detalle: ['museos',obraDetail.museo.id] } }]">
          {{obraDetail.museo.nombre}}
        </a>

      </div>
    </div>
  </div>
