<div>
  <div class="row">
    <div class="col-8">
      <br>
    </div>
    <div class="col-2">
      <input type="text" class="form-control" placeholder="Filtro" id="filtro">
    </div>
    <div class="col-1">
      <button (click)="filterObras()" type="button" class="btn btn-light" title="filtrar">Filtrar</button>
    </div>
    <div class="col-1">
      <button (click)="onSelected('Z..A')" *ngIf="tipoSort=='A..Z'" type="button" class="btn btn-light" title="a..z">A..Z</button>
      <button (click)="onSelected('A..Z')" *ngIf="tipoSort!='A..Z'" type="button" class="btn btn-light" title="z..a">Z..A</button>
    </div>
  </div>
  <hr>
  <div class="container vertical-scrollable">
    <div class="row">
      <div class="col mb-3" *ngFor="let o of obras">
        <div class="card p-2" style="width: 12rem; height: 15rem">
          <a class="text-decoration-none" [routerLink]="['', { outlets: { detalle: ['obras',o.id] } } ]">
            <img class="card-img-top" src="{{ o.imagen }}" alt="{{ o.nombre }}" />
            <h5 class="card-title">{{ o.nombre }}</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

