<div class="row mb-2">
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['museos','list'], menusup: ['menusup'] } }]">
      <img src="../../assets/Museo.png" alt="MUSEOS">
    </a>
  </div>
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['obras','list'], menusup: ['menusup'] } }]">
      <img src="../../assets/Obra.png" alt="OBRAS">
    </a>
  </div>
</div>
<div class="row mb-2  ">
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['movimientosartisticos','list'], menusup: ['menusup'] } }]">
      <img src="../../assets/Movimiento.png" alt="MOV. ARTISTICOS">
    </a>
  </div>
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['paises','list'], menusup: ['menusup'] } }]">
      <img src="../../assets/Pais.png" alt="PAISES">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['artistas','list'], menusup: ['menusup'] } }]">
      <img src="../../assets/Artista.png" alt="ARTISTAS">
    </a>
  </div>
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['ciudades','list'], menusup: ['menusup'] } }]">
      <img src="../../assets/Ciudad.png" alt="CIUDADES">
    </a>
  </div>
</div>
