<div class="row mb-2">
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['museos','list'], menusup: ['menusup'] } }]">
      <img src="https://cdn.discordapp.com/attachments/971968495715778610/977939738541572186/Museo.png" alt="MUSEOS">
    </a>
  </div>
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['obras','list'], menusup: ['menusup'] } }]">
      <img src="https://cdn.discordapp.com/attachments/971968495715778610/977939767171903538/Obra.png" alt="OBRAS">
    </a>
  </div>
</div>
<div class="row mb-2  ">
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['movimientosartisticos','list'], menusup: ['menusup'] } }]">
      <img src="https://cdn.discordapp.com/attachments/971968495715778610/977939792094437376/Movimiento.png" alt="MOV. ARTISTICOS">
    </a>
  </div>
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['paises','list'], menusup: ['menusup'] } }]">
      <img src="https://cdn.discordapp.com/attachments/971968495715778610/977939802001379348/Pais.png" alt="PAISES">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['artistas','list'], menusup: ['menusup'] } }]">
      <img src="https://cdn.discordapp.com/attachments/971968495715778610/977939748242997288/Artista.png" alt="ARTISTAS">
    </a>
  </div>
  <div class="col-2">
    <br>
  </div>
  <div class="col-2">
    <a [routerLink]="['', { outlets: { primary: ['ciudades','list'], menusup: ['menusup'] } }]">
      <img src="https://cdn.discordapp.com/attachments/971968495715778610/977939813112098886/Ciudad.png" alt="CIUDADES">
    </a>
  </div>
</div>
