<div class="detalle">
  <br>
  <div class="container-fluid centrado">
    <div class="row">
      <div class="col">
        <br>
        <h3 class="centrado" title="nom_artista">{{ artistaDetail.nombre }}</h3>
      </div>
      <div class="col">
        <div class="thumb">
        <img class="img-fluid" src="{{ artistaDetail.imagen }}" alt="{{ artistaDetail.nombre }}" />
      </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <dt>Nacimiento</dt>
        <a [routerLink]="['', { outlets: { primary: ['paises','list'], menusup: ['menusup'], detalle: ['paises',artistaDetail.lugarNacimiento.id] } }]">
          <dd>{{artistaDetail.lugarNacimiento.nombrePais}}</dd>
        </a>
        <dd>[{{artistaDetail.fechaNacimiento}}]</dd>
      </div>
      <div class="col">
        <dt>Fallecimiento:</dt>
        <a [routerLink]="['', { outlets: { primary: ['paises','list'], menusup: ['menusup'], detalle: ['paises',artistaDetail.lugarFallecimiento.id] } }]">
          <dd>{{ artistaDetail.lugarFallecimiento.nombrePais}}</dd>
        </a>
        <dd>[{{artistaDetail.fechaFallecimiento}}]</dd>
      </div>
    </div>
    <hr>
  </div>
  <div class="container-fluid">
    <dt>Obras</dt>
    <div class="container vertical-scrollable">
      <div class="row text-center">
        <div class="col mb-2" *ngFor="let obra of artistaDetail.obras">
          <a [routerLink]="['', { outlets: { primary: ['obras','list'], menusup: ['menusup'], detalle: ['obras',obra.id] } }]">
            <div class="card p-2" style="width: 6rem; height: 6rem">
            <img class="obra" src="{{obra.imagen}}" alt="">
          </div>
          </a>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container-fluid">
    <dt>Movimientos Artisticos</dt>
    <div class="container vertical-scrollable-2">
      <div class="row">
        <div class="col-12 mb-2" *ngFor="let mov of artistaDetail.movimientos">
          <a [routerLink]="['', { outlets: { primary: ['movimientosartisticos','list'], menusup: ['menusup'], detalle: ['movimientosartisticos',mov.id] } }]">
            • {{mov.nombre}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <dt>Museos</dt>
    <div class="container vertical-scrollable-2">
      <div class="row">
        <div class="col-12 mb-2" *ngFor="let mus of artistaDetail.museos">
          <a [routerLink]="['', { outlets: { primary: ['museos','list'], menusup: ['menusup'], detalle: ['museos',mus.id] } }]">
            • {{mus.nombre}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
