<div class="detalle">
  <br>
  <div class="container-fluid centrado">
    <div class="row">
      <h3 class="centrado">**{{ artistaDetail.nombre }}**</h3>
      <div class="thumb">
        <img class="img-fluid" src="{{ artistaDetail.imagen }}" alt="{{ artistaDetail.nombre }}" />
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <dt>Nacimiento</dt>
        <dd>{{artistaDetail.lugarNacimiento.nombrePais}} [{{artistaDetail.fechaNacimiento}}]</dd>
      </div>
      <div class="col">
        <dt>Fallecimiento:</dt>
        <dd>{{ artistaDetail.lugarFallecimiento.nombrePais}} [{{artistaDetail.fechaFallecimiento}}]</dd>
      </div>
    </div>
    <hr>
  </div>
  <div class="container-fluid">
    <dt>Obras</dt>
    <br>
    <div class="container vertical-scrollable">
      <div class="row text-center">
        <div class="col mb-2" *ngFor="let obra of artistaDetail.obras">
          <div class="card p-2" style="width: 7rem; height: 7rem">
            <img class="obra" src="{{obra.imagen}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
