<div>
  <img class="logo"
    src="https://media.discordapp.net/attachments/971968495715778610/971968537121923082/Logo_DISC_AM.png" alt="cat" />
  <div id="menu" class="container-fluid">
    <hr />
    <div class="row">
      <div class="col-2">
        <h3 class="menu-item"><a routerLink="/museos/list">Museos</a></h3>
      </div>
      <div class="col-2">
        <h3 class="menu-item"><a routerLink="/artistas/list">Artistas</a></h3>
      </div>
      <div class="col-2">
        <h3 class="menu-item"><a routerLink="/obras/list">Obras</a></h3>
      </div>
      <div class="col-2" (click)="onSelected('mov artisticos')">
        <h3 class="menu-item"><a routerLink="/movimientoartistico/list">Mov. Artisticos</a></h3>
      </div>
      <div class="col-2" (click)="onSelected('paises')">
        <h3>Paises</h3>
      </div>
      <div class="col-2" (click)="onSelected('ciudades')">
        <h3>Ciudades</h3>
      </div>
    </div>
    <hr />
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
