<div id="menu" class="container-fluid">
  <div class="row">
    <div class="col-2">
      <h3 class="menu-item"><a routerLink="/museos/list" title="museos">Museos</a></h3>
    </div>
    <div class="col-2">
      <h3 class="menu-item"><a routerLink="/artistas/list" title="artistas">Artistas</a></h3>
    </div>
    <div class="col-2">
      <h3 class="menu-item"><a routerLink="/obras/list" title="obras">Obras</a></h3>
    </div>
    <div class="col-2">
      <h3 class="menu-item"><a routerLink="/movimientosartisticos/list" title="movimientosartisticos">Mov. Artisticos</a></h3>
    </div>
    <div class="col-2">
      <h3 class="menu-item"><a routerLink="/paises/list" title="paises">Paises</a></h3>
    </div>
    <div class="col-2">
      <h3 class="menu-item"><a routerLink="/ciudades/list" title="ciudades">Ciudades</a></h3>
    </div>
  </div>
</div>
<hr>
