img {
  height: 14rem;
  width: 14rem;
}

div.recurso {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

h5 {
  text-align: center;
  font-weight: bolder;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
